.categories-listing-main-header {
  @at-root ion-header#{&}.header-collapse-condense-inactive {
    ion-title {
      visibility: hidden;
    }
  }
}

.categories-listing-main-toolbar {
  @at-root ion-toolbar#{&} {
    --background: transparent;
    --color: var(--ion-color-bri);
  }
}

ion-content {
  --background: #fff;
  position: absolute;
  top: 0;
  border-top: 44px;
  border-top-style: solid;
  border-top-color: #000000;
}

.categories-call-out {
  margin: 20px;
  color: rgba(51, 51, 51, 0.8);
  text-align: center;
  line-height: 1.4;

  ion-badge {
    vertical-align: sub;
    text-transform: uppercase;
    margin: 0px 6px;
  }
}

.category-card {
  --color: #fff;

  ion-card-title,
  ion-card-subtitle {
    --color: #fff;
  }
}
